.nav {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

.nav a:link,
.nav a:visited {
  background-color: var(--color-dark--2);
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.nav a:hover
{
  transition: linear 0.1s;
  transform: scale(105%);
  filter: brightness(120%);
}

/* CSS Modules feature */
.nav a:global(.active) {
  background-color: var(--color-dark--0);
}
