.card {
  color: var(--color-dark--0);
  background-color: var(--color-light--1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 12vw;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem 2rem 2rem 2rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--color-light--3);
  cursor: pointer;
  transition: linear 0.1s;
  transform: scale(105%);
}

.container {
  padding: 2px 16px;
}

.imgTop {
  max-width: 12vw;
}

.spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardWine,
.red,
.rose,
.white {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 12vw;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem 2rem 2rem 2rem;
}

.cardWine,
.white {
  color: var(--color-dark--0);
  background-color: var(--color-bottle--white);
}

.red {
  color: var(--color-light--2);
  background-color: var(--color-bottle--red);
}

.rose {
  color: var(--color-dark--0);
  background-color: var(--color-bottle--rose);
}

.cardWine:hover,
.red:hover,
.rose:hover,
.white:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  filter: brightness(110%);
  cursor: pointer;
  transition: linear 0.1s;
  transform: scale(105%);
}

.filledOuter {
  min-height: 1vh;
  width: 100%;
  background-color: black;
  bottom: 0px;
}
.filledInner {
  min-height: 1vh;
  background-color: blue;
  bottom: 0px;
}
